body {
    background-color: #522A5E;
}

nav {
    display: flex;
    justify-content: space-between;
}

.navigationabout {
    border: 1px solid white;
    border-radius: 5px;
    background-color: #ffffff;
    width: 80px;
    height: 40px;
    text-align: center;
    margin-left: 80px;

}

.navigationabout a {
    color: #522A5E;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    top: 5px;
}

.navigationabout1 {
    border: 1px solid #ffffff;
    border-radius: 5px;
    background-color: #ffffff;
    width: 100px;
    height: 40px;
    text-align: center;
    margin-right: 80px;
}

.navigationabout1 a {
    color: #522A5E;
    text-decoration: none;
    font-size: 20px;
    position: relative;
    top: 5px;
}

.fullcode {
    display: flex;
}

.overimage img {
    padding: 30px;
    width: 300px;
    height: 500px;
}

.mid-edu {
    display: flex;
    margin-top: 80px;
}

.mid-edu p {
    color: aliceblue;
    font-size: 18px;
}

.mid-edu1 {
    display: grid;
    margin-left: 100px;
}

.mid-edu1 h4 {
    color: #ffffff;
    margin-left: 40px;
    font-size: 30px;
}

.mid-edu1 p {
    color: #ffffff;
    font-size: 18px;
    position: relative;
    bottom: 120px;
}

.degreed {
    border: 1px solid #ffffff;
    border-radius: 10px;
    background-color: #ffffff;
    width: 230px;
    height: 40px;
    text-align: center;
    position: relative;
    bottom: 180px;
}

.degreed a {
    color: #522A5E;
    text-align: center;
    font-size: 17px;
    text-decoration: none;
    position: relative;
    top: 10px;
}

.skilled {
    margin: 0;
    color: #ffffff;
}

.skilled h4 {
    /*margin: 0;*/
    margin-left: 100px;
    font-size: 20px;
}

.skilled p {
    margin: 0;
    color: aliceblue;
    font-size: 18px;
    margin-left: 60px;


}

@media (max-width:768px) {
    .fullcode {
        display: flex;
    }

    .mid-edu {
        display: grid;
        margin-top: 50px;
    }

    .mid-edu1 p {
        color: #ffffff;
        font-size: 18px;
        position: relative;
        bottom: 80px;
    }

    .degreed {
        border: 1px solid #ffffff;
        border-radius: 10px;
        background-color: #ffffff;
        width: 230px;
        height: 40px;
        text-align: center;
        position: relative;
        bottom: 60px;
    }


}


@media (max-width:425px) {
    .fullcode {
        display: grid;
    }

    .mid-edu {
        display: grid;
        margin-top: 50px;
    }

    .mid-edu1 p {
        color: #ffffff;
        font-size: 18px;
        position: relative;
        bottom: 40px;
    }

    .degreed {
        border: 1px solid #ffffff;
        border-radius: 10px;
        background-color: #ffffff;
        width: 230px;
        height: 40px;
        text-align: center;
        position: relative;
        bottom: 30px;
    }


}