/* Common styles for both desktop and mobile*/
body {
    margin: 0;
    padding: 0;
    background-color: #052F0A;
}

nav {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #052F0A;
    width: 60%;
}

a {
    text-decoration: none;
}

nav img.logo {
    border: 1px solid none;
    border-radius: 60%;
    width: 20px;
    height: auto;
    margin: 10px 15px;
}

/* Desktop navigation */
.desktop-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.desktop-nav .top ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 60px;
}

.desktop-nav .top ul li {
    margin-left: 20px;
}

.desktop-nav .top ul li a {
    color: white;
}

/* Mobile navigation */
.mobileNav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #fffffffe;
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.mobileNav ul {
    list-style: none;
}

.mobileNav ul li {
    color: #0e0e0e;
}

.menu-icon {
    display: none;

}

.dash {
    border: 1px solid white;
    width: 100%;
}

.flankColor {
    display: flex;
}

.pictured img {
    width: 300px;
    height: 450px;
    margin-left: 30px;
    margin-top: 30px;
    border: 2px solid white;
    border-radius: 40px 20px;
}

.named {
    display: grid;
    margin-top: 200px;
    margin-left: 120px;
}

.named p {
    color: #ffff;
    font: 1em sans-serif;
}

.CV {
    display: flex;
    margin-bottom: 60px;
    width: 170px;
    height: 30px;
    background-color: #ffff;
    border-radius: 20px;
    text-align: center;
    justify-content: space-between;

}

.CV a p {
    color: black;
    position: relative;
    bottom: 10px;
    left: 12px;
}

.edu {
    display: flex;
    justify-content: space-between;
    margin-left: 80px;
}

.degreed {
    color: #ffffff;
}

.degreed h2 {
    margin-left: 80px;
    border: 1px solid white;
    border-radius: 10px;
    color: #052F0A;
    background-color: white;
    width: 160px;
    height: 40px;
    text-align: center;


}

.degreed ul {
    margin: 0;
    font-size: 15px;
    position: relative;
    bottom: 15px;

}

.degreed li {
    list-style: square;
}

.degreed1 {
    margin-right: 250px;
}

.degreed1 h2 {
    margin-left: 50px;
}

.degreed2 {
    color: #ffffff;
}

.degreed2 h2 {
    margin-left: 80px;
    border: 1px solid white;
    border-radius: 10px;
    color: #052F0A;
    background-color: white;
    width: 160px;
    height: 40px;
    text-align: center;
}

.dash2 {
    border: 1px solid white;
    width: 100%;
}

.conjoin {
    background-color: #052F0A;
    display: flex;
    height: 330px;

}

.con {
    margin-top: 20px;
    margin-left: 80px;
    color: #ffff;
}

.con h2 {
    color: #ffff;
}

.dash3 {
    margin-left: 280px;
    border: 1px solid white;
    height: 100%;
}

.menu {
    display: none;
}

.detail {
    margin-top: 5px;
    display: grid;
    margin-left: 200px;

}

.detail h2 {
    color: #ffff;
    padding-top: 13px;
}

.detail form {

    color: #ffffff;
}

.detail input {
    width: 350px;
    height: 40px;
}

#username {}

#email {
    margin-top: 5px;
}

#textarea {
    margin-top: 5px;
    width: 250px;
    height: 100px;
}

#submit {
    width: 120px;
    height: 30px;
}

.dash4 {
    border: 1px solid white;
    width: 100%;
}

.footerdown {
    margin-left: 380px;
    color: #ffff;
    font-size: 1em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}






@media screen and (max-width:768px) {
    nav {
        display: flex;
        align-items: center;
        width: 100%;
        background-color: #052F0A;
        width: 80%;
    }

    a {
        text-decoration: none;
    }

    nav img.logo {
        border: 1px solid none;
        border-radius: 60%;
        width: 20px;
        height: auto;
        margin: 10px 15px;
    }

    /* Desktop navigation */
    .desktop-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .desktop-nav .top ul {
        display: flex;
        justify-content: space-between;
        list-style: none;
        gap: 60px;
    }

    .desktop-nav .top ul li {
        margin-left: 20px;
    }

    .desktop-nav .top ul li a {
        color: white;
    }

    /* Mobile navigation */
    .mobileNav {
        display: none;
    }

    .menu-icon {
        display: block;


    }

    .hideOnMobile {
        display: none;
    }

    .dash {
        border: 1px solid white;
        width: 100%;
    }

    .flankColor {
        display: grid;

    }

    .pictured img {
        width: 300px;
        height: 450px;
        margin-left: 20px;
        margin-top: 30px;
        border: 2px solid white;
        border-radius: 40px 20px;
    }

    .named {
        display: grid;
        margin-top: 200px;
        margin-left: 30px;
    }

    .named p {
        color: #ffff;
        font: 1em sans-serif;
    }

    .CV {
        display: flex;
        margin-bottom: 60px;
        width: 170px;
        height: 30px;
        background-color: #ffff;
        border-radius: 20px;
        text-align: center;
        justify-content: space-between;

    }

    .CV a p {
        color: black;
        position: relative;
        bottom: 10px;
        left: 12px;
    }

    .edu {
        display: flex;


    }

    .degreed {
        color: #ffffff;
    }

    .degreed h2 {
        margin-left: 80px;
        border: 1px solid white;
        border-radius: 10px;
        color: #052F0A;
        background-color: white;
        width: 160px;
        height: 40px;
        text-align: center;


    }

    .degreed ul {
        margin: 0;
        font-size: 10px;
        position: relative;
        bottom: 15px;

    }

    .degreed li {
        list-style: square;
    }

    .degreed1 {
        margin-right: 250px;
    }

    .degreed1 h2 {
        margin-left: 50px;
    }

    .degreed2 {
        color: #ffffff;
    }

    .degreed2 h2 {
        margin-left: 80px;
        border: 1px solid white;
        border-radius: 10px;
        color: #052F0A;
        background-color: white;
        width: 160px;
        height: 40px;
        text-align: center;
    }

    .dash2 {
        border: 1px solid white;
        width: 100%;
    }

    .conjoin {
        background-color: #052F0A;
        display: flex;
        height: 330px;
        width: 80%;

    }

    .con {
        margin-top: 20px;
        margin-left: 20px;
        color: #ffff;
    }

    .con h2 {
        color: #ffff;
    }

    .dash3 {
        margin-left: 50px;
        border: 1px solid white;
        height: 100%;
    }

    .menu {
        display: none;
    }

    .detail {
        margin-top: 5px;
        display: grid;
        margin-left: 30px;

    }

    .detail h2 {
        color: #ffff;
        padding-top: 13px;
    }

    .detail form {

        color: #ffffff;
    }

    .detail input {
        width: 230px;
        height: 40px;
    }

    #username {}

    #email {
        margin-top: 5px;
    }

    #textarea {
        margin-top: 5px;
        width: 200px;
        height: 100px;
    }

    .dash4 {
        border: 1px solid white;
        width: 100%;
    }

    .footerdown {
        margin-left: 150px;
        color: #ffff;
        font-size: 1em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

}

@media (max-width:425px) {
    .desktop-nav {
        display: flex;
    }

    .mobileNav {
        display: flex;
        list-style: none;
        justify-content: space-between;
        align-items: center;
    }

    .mobileNav ul {
        list-style: none;
    }

    .mobileNav .logo {
        display: flex;
        margin: 10px 15px;
    }


    .dash {
        display: none;
        /* Hide dash for mobile */
    }

    .top {
        display: block;
        /* Hide desktop menu */
    }



    .menu-icon {
        display: block;



    }

    .flankColor {
        display: grid;

    }

    .pictured img {
        width: 150px;
        height: 225px;

        margin-top: 30px;
        border: 2px solid white;
        border-radius: 30px 20px;
    }

    .named {
        display: grid;
        margin-top: 20px;
        align-items: center;
        margin-left: 20px;
    }

    .named p {
        color: #ffff;
        font: 1em sans-serif;
    }

    .CV {
        display: flex;
        background-color: #ffff;
        border-radius: 20px;
        text-align: center;
        justify-content: space-between;


    }

    .CV a p {
        color: black;
        padding-top: 1px;
    }

    .edu {
        display: grid;
        margin-left: 10px;

    }

    .degreed {
        color: #ffffff;

    }

    .degreed h2 {
        margin-left: 30px;
        border: 1px solid white;
        border-radius: 10px;
        color: #052F0A;
        background-color: white;
        width: 160px;
        height: 40px;
        text-align: center;


    }

    .degreed ul {
        margin: 0;
        font-size: 10px;
        position: relative;
        bottom: 15px;

    }

    .degreed li {
        list-style: square;
    }

    .degreed1 {
        margin-right: 50px;
    }

    .degreed1 h2 {
        margin-left: 30px;
    }

    .degreed2 {
        color: #ffffff;
    }

    .degreed2 h2 {
        margin-left: 40px;
        border: 1px solid white;
        border-radius: 10px;
        color: #052F0A;
        background-color: white;
        width: 160px;
        height: 40px;
        text-align: center;
    }

    .degreed2 ul {
        margin: 0;
        font-size: 10px;
        position: relative;
        bottom: 15px;
    }

    .conjoin {
        display: flex;
    }

    .detail {
        margin-top: 5px;
        display: grid;
        margin-left: 25px;

    }

    .detail h2 {
        color: #ffff;
        padding-top: 13px;
    }

    .detail form {

        color: #ffffff;
    }

    .detail input {
        width: 200px;
        height: 40px;
    }

    #username {
        margin-top: 5px;
    }

    #email {
        margin-top: 5px;
    }

    #textarea {
        margin-top: 5px;
        width: 200px;
        height: 100px;
    }

    .dash2 {
        display: none;

    }

    .dash3 {
        display: none;

    }

    .dash4 {
        display: none;
    }

    .footerdown {
        margin-left: 80px;
        color: #ffff;
        font-size: 1em;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }


}